{% extends 'base.html' %}
{% block title %}部位別メニュー{% endblock %}
{% block content %}
<div class="mb-4 text-end">
    <a href="{% url 'training:create_menu' %}" class="btn btn-primary">
        新しく部位別メニューを作成
    </a>
</div>

<h2>部位別トレーニングメニュー</h2>

{% if items %}
  {% regroup items by parts as grouped_items %}

  {% for group in grouped_items %}
    <div class="card mb-3">
      <div class="card-header">{{ group.grouper }}</div>
      <ul class="list-group list-group-flush">
        {% for item in group.list %}
          <li class="list-group-item"><strong>{{ item.content }}</strong></li>
          <li class="list-group-item">重量: {{ item.weight }} kg</li>
          <li class="list-group-item">回数: {{ item.rep }}</li>
          <li class="list-group-item">メモ: {{ item.memo }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
{% endif %}
{% endblock %}