{% extends 'base.html' %}
{% block title %}記録一覧{% endblock %}
{% block content %}
<!-- 行ったトレーニング一覧 -->
<h2>トレーニング記録一覧</h2>
{% if items %}
  {% regroup items by menu_item.posted_at as grouped_items %}

  {% for group in grouped_items %}
    <div class="card mb-3">
      <div class="card-header">{{ group.grouper }}</div>
      <ul class="list-group list-group-flush">
        {% for item in group.list %}
          <li class="list-group-item"><p><strong>{{ item.menu_item.parts }} :  
                                              {{ item.menu_item.content }}</strong></p>
                                      重量: {{ item.weight }} kg
                                      回数: {{ item.rep }}
                                      メモ: {{ item.memo }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
{% else %}
  <p class="text-muted">現在、登録されている記録はありません</p>
{% endif %}

{% endblock %}
